@model SF.Mod35.TeamNetwork.App.Views.Profile.UserProfileModel

<div class="row">
	<h2 class="col-12 text-center">
		@Model.UserData.FullName
	</h2>
</div>
<article class="row g-3">
	<section class="col-4">
		<div class="row">
			<img alt="profile photo" src="@Model.UserData.ImageUrl" />
		</div>
		<div class="row p-3">
			<a class="btn btn-primary" asp-controller="Profile" asp-action="Edit">
				Edit profile
			</a>
		</div>
	</section>
	<section class="col">
		<div class="row">
			<label class="col-auto text-secondary">
				Status:
			</label>
			<span class="col">
				@Model.UserData.Status
			</span>
		</div>
		<div class="row">
			<label class="col-auto text-secondary">
				Date of birth:
			</label>
			<span class="col">
				@DateOnly.FromDateTime(Model.UserData.DateOfBirth)
			</span>
		</div>
		<div class="row">
			<label class="col-auto text-secondary">
				About:
			</label>
			<span class="col">
				@Model.UserData.About
			</span>
		</div>
		<div class="row">
			<label class="col-auto text-secondary">
				Email:
			</label>
			<span class="col">
				@Model.UserData.Email
			</span>
		</div>
		<div class="row">
			<h4 class="col-12 text-secondary text-center">
				Friends list.
			</h4>
		</div>
	</section>
</article>
