@model SF.Mod35.TeamNetwork.App.Views.Dialog.DialogViewModel
@{
}

<form method="get" class="row" asp-controller="Profile" asp-action="MyPage">
	<button class="btn btn-primary" type="submit">
		Back to profile.
	</button>
</form>

<div class="row m-3">
	<h3 class="col text-center">
		Chat with @Model.Respondent.FullName
	</h3>
	<img class="col-auto" width="60" height="60" src="@Model.Respondent.ImageUrl" alt="Respondent avatar"/>
</div>

<section class="row g-3">
	<label class="col-12 text-secondary">
		Messages:
	</label>
	@if (Model.MessageHistory.Count != 0)
	{
		bool msgFromViewer;
		foreach (Message message in Model.MessageHistory)
		{
			msgFromViewer = Model.ReverseMessageMapping ? !message.FromUser1 : message.FromUser1;
			if (msgFromViewer)
			{
				<div class="col-4"></div>
			}
			<div class="col-8 card @(msgFromViewer ? "alert-success": "alert-info")">
				<p class="card-text">
					@message.Text
				</p>
			</div>
			if (!msgFromViewer)
			{
				<div class="col-4"></div>
			}
		}
	}
	else
	{
		<p class="col-12 text-center">
			No messages yet.
		</p>
	}
</section>

<section class="row">
	<label class="col-12 text-secondary">
		New message:
	</label>
	<form class="col-12 g-3" method="post" asp-controller="Dialog" asp-action="NewMessage" asp-route-id="@Model.Respondent.Id">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="row">
			<input asp-for="NewMessage" class="form-control-lg emojify" type="text" required/>
		</div>
		<div class="row mt-3">
			<button class="btn btn-primary" type="submit">
				Send
			</button>
		</div>
	</form>
</section>
